node_modules
npm-debug.log
Dockerfile.dev
Dockerfile.prod
.dockerignore
.next
.git
.gitignore
.next
out
.cache
.env
.env.local
.env.production
.env.development
.env.test
.vscode
.idea
.DS_Store
*.log
