@tailwind base;
@tailwind components;
@tailwind utilities;

.boxshadow {
  box-shadow: 0 84px 24px 0 rgba(238, 41, 37, 0),
    0 54px 22px 0 rgba(238, 41, 37, 0.03), 0 30px 18px 0 rgba(238, 41, 37, 0.1),
    0 13px 13px 0 rgba(238, 41, 37, 0.17), 0 3px 7px 0 rgba(238, 41, 37, 0.2);
}

@keyframes marquee {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .theme {
    --animate-marquee: marquee var(--duration) infinite linear;
    --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  }
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue";
  src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.home-prev {
  width: 100%;
  height: 100vh;
  background-image: url("../../public/homeImg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-prev1 {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../public/aboutBG.png");
  background-position-x: right;
  background-position-y: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
}

.home-prev1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: #000000;
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 52%,
      rgba(0, 0, 0, 0) 100%);
  width: 100%;
  height: 200px;
}

.home-prev1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100vh;
  z-index: 1;
  background: #000000;
  background: linear-gradient(90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.588) 53%,
      rgba(0, 0, 0, 0.759) 75%,
      rgba(0, 0, 0, 0) 100%);
}

.glass {
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 2;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.308);
  margin-bottom: 16px;
}

.glass::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -10px;
  background-color: red;
  width: 100px;
  height: 100%;
  z-index: 1;
  filter: blur(25px);
}

.glass2 {
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 2;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.308);
  margin-bottom: 16px;
}

.glass2::before {
  content: "";
  position: absolute;
  top: 50px;
  left: -5px;
  background-color: red;
  width: 100px;
  height: 100%;
  z-index: 1;
  filter: blur(25px);
}

.team-overlay {
  position: relative;
  left: 0;
  top: 0;
}

.team-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #c61511;
  filter: blur(200px);
  border-radius: 30px 0px 0px 10px;
  width: 900px;
  height: 200px;
  transform: rotate(140deg) translateY(-450px) translateX(350px);
  z-index: 1;
}

.team-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: #c61511;
  filter: blur(300px);
  border-radius: 30px 0px 0px 10px;
  width: 900px;
  height: 200px;
  transform: rotate(50deg) translateY(100px) translateX(300px);
  z-index: 1;
}

.footer-overlay {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../public/footerBG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  background: linear-gradient(1deg,
      rgba(0, 0, 0, 0.872) 0%,
      rgba(0, 0, 0, 1) 30%,
      rgba(0, 0, 0, 0.741) 60%,
      rgba(0, 0, 0, 0.501) 100%);
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes marquee-vertical {
    0% {
      transform: translateY(0%);
    }

    100% {
      transform: translateY(-50%);
    }
  }

  .animate-marquee {
    animation: marquee var(--duration, 40s) linear infinite;
  }

  .animate-marquee-vertical {
    animation: marquee-vertical var(--duration, 40s) linear infinite;
  }

  .animate-reverse {
    animation-direction: reverse;
  }
}

.shadow-effect {
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    bottom: -70px;
    left: -40px;
    width: 120px;
    /* transform: rotate(37deg); */
    height: 100px;
    background-color: #e20400;
    filter: blur(45px);
    z-index: 1;
    opacity: 0;
    transition: all 0.3s linear;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -50px;
    right: -70px;
    width: 200px;
    /* transform: rotate(37deg); */
    height: 100px;
    border-radius: 20%;
    background-color: #e20400;
    filter: blur(45px);
    z-index: 1;
    opacity: 0;
    transition: all 0.3s linear;
  }

  &:hover::before {
    opacity: 1;
  }

  &:hover::after {
    opacity: 1;
  }
}

.boxshadoww {
  border-radius: 50%;
  background: linear-gradient(214deg, #118AC6 24.87%, #BC0606 89.63%);
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.60) inset;
}

.inputstyle {
  display: flex;
  padding: 18px 252px 18px 45px;
  align-items: center;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.10);
}

.bgcolorr {
  display: flex;
  width: 1184px;
  padding: 0 64px;
  align-items: center;
  gap: 64px;
  border-radius: 28px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(10px);
}

.flexshrink {
  border-radius: 28px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0 10px 48px 0 rgba(16, 16, 16, 0.10);
  backdrop-filter: blur(30px);
  width: 547px;
  height: 604px;
  flex-shrink: 0;
}